:root {
    --green: #106E32;
    --grey: #E8E9EE;
    --dark-grey: #454545;
}
h1 {
    font: 700 96px 'Oswald', sans-serif;
    line-height: 100px;
    margin: 0 0 40px 0;
}
h2 {
    font:  700 38px 'Oswald', sans-serif;
    line-height: 45px;
    margin: 15px 0 25px 0;
}
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: auto;
}

header .line {
    background-color: var(--green);
    height: 10px;
}

.header-area {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 64px;
    height: 64px;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-search form {
    display: flex;
}

.header-search input {
    width: 220px;
    font: 400 16px 'Open Sans';
    border: 1px solid #b3b3b3;
    outline: none;
    padding: 8px 30px 8px 15px;
}

.header-search button {
    background-color: transparent;
    border: none;
    margin-left: -40px;
    padding: 10px;
    cursor: pointer;
}

.header-search button img {
    width: 16px;
    height: 16px;
}

.header-menu {
    margin-left: 60px;
    cursor: pointer;

}

.header-menu img {
    width: 26px;
    height: 26px;
}

.banner {
    background-image: url(../images/bg.jpg);
    background-position: center;
    padding: 100px;
}
.banner-images {
    margin-top: 60px;
}

.banner-images img {
    width: 148px;
    height: 148px;
    border: 6px solid var(--green);
    border-radius: 50%;
    margin-right: 40px;
}

.area1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area1-content {
    padding: 60px 250px;
}

.area1-content .quote {
    margin-bottom: 25px;
}

.area1-img1 {
    height: 350px;
    background-image: url(../images/f2.jpg);
    background-size: cover;
    background-position: center ;
}

.area1-img2 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-image: url(../images/f1.jpg);
    background-size: cover;
    background-position: center;
}